@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Raleway:wght@200&family=Roboto:ital,wght@1,500&display=swap');

html { scroll-behavior: smooth; }

body {font-family: 'Roboto', sans-serif;}

header {
    padding-top: 1%;
    padding-right: 7%;
    padding-bottom: 1%;
    padding-left: 7%;
    display: flex;
    justify-content: space-between;
}

nav {display: flex;}

nav ul {margin-top: 3%;}

nav ul li {
    display: inline-block;
    margin-top: 5rem;
    margin-bottom: 2%;
}

nav ul li a { 
    font-size: 1rem;
    padding-right: 3rem;
    text-transform:uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: solid;
    color: #3662B0;
}

body {
	max-width: 1300px;
	width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    }

article {
    width: 100%;
    background-size:100%;
    background-repeat: no-repeat;
    justify-content:flex-start;
    align-items: center; 
}

nav {
	display: flex;
}

.info div {
    width: 100%;
	padding: 0%;
	text-align: center;
    margin-top:  2%;
    justify-content: center;
    display:flex;
    flex-direction: column;
}

.exp nav {
    justify-content: center;
}

.exp section {
    margin: 2%;
    display: flex;
    flex-direction: row;
    width: 30%;
    padding: 5%;
    flex-wrap: wrap;
    justify-content: center;
}

.exp p {
    margin-top: 50%;
    margin-bottom: 50%;
    border-style: groove;
    border-color: #3662B0;
    padding: 4%;
}

.guiablu nav {
    display: flex;
    justify-content: center;
}

.guiablu section {
    width: 15%;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 0%;
    border-style: none;
    flex-direction: row;
    margin: 4%;
}

.nuestros nav{
    display: flex;
    justify-content: center;
}

.nuestros p {
    margin-left: 25%;
    margin-right: 20%;
    margin-top: 2%;
}

p { 
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: #3662B0;
    font-size: 50px;
}

.guiablu p {
    margin-left: 40%;
    margin-right: 40%;
}

h4 {
    font-size: 100%;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight:100;
    color: #3662B0;
    justify-content: center;
}



h1 { 
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #3662B0;
}

.numero {
    border-radius: 50px;
    border: solid 1px cornflowerblue;
    padding: 10px;
    width: 2rem;
    font-size: 100%;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font: weight 5px;
    color: #3662B0;
    margin-left: 35%;
    margin-right: 40%;
}

h2 { font-size: 100%;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font: weight 400px;;
    color: #3662B0;
}

h3 {
    font-size: 100%;
	text-transform:none;
	font-family: 'Roboto', sans-serif;
	font-weight:100;
    color: #3662B0;
    justify-content: space-between;
}

.productos1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-size: 100%;
}

.productos1 .productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 30%;
}

.productos1 .productos img{
    height: 300px;
    padding: 30px;
}

.productos1 .productos button{

    justify-content: center;
}

button {
    background-color:beige(229, 229, 229);
    border: 2rem;
    font-size: 100%;
	text-transform:none;
	font-family: 'Roboto', sans-serif;
	font-weight:100;
    color: #3662B0;

}

.menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block: 5%;
}

.primernav p {
    margin-left: 20%;
    margin-right: 20%;
}

.listado nav {
    width: 100%;
    display: flexbox;
    flex-direction: column;
}

.listado section {
    display: flex;
    flex-direction: row;
    width: 30%;
}

.listado div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2%;
}

.listado ul {
    text-align: center;
    align-content: center;
    list-style-type: none;
}

.listado li {
    display: list-item;
    font-size: 100%;
	text-transform:none;
	font-family: 'Roboto', sans-serif;
	font-weight:100;
    color: #3662B0;
    justify-content: space-between;
}

footer{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 350px;
}
footer img{
	max-width: 2.5rem;
	width: 100%;
	height: auto;
	margin-right: .5%;
}

.pie div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40%;
    margin: 5%;
}

.pie p {
    font-size: 100%;
	text-transform:none;
	font-family: 'Roboto', sans-serif;
	font-weight:100;
    color: #3662B0;
    justify-content: space-between;
}